'use strict';

const isGroup = false;
const groupName = '';
const groupMiddleware = null;
const routes = [
    {
        url: '',
        verbs: [],
        action: '',
        middleware: null
    }
];

module.exports = { isGroup, groupName, groupMiddleware, routes };
